<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbqvAx7XZ6xYYx-U6JmM8OBSSdcZEjHkM</string>
	<key>GCM_SENDER_ID</key>
	<string>1027801303928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterjunction.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-852bb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-852bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027801303928:ios:e6c3b590605842b03f968d</string>
</dict>
</plist>